.signing-window {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box {
  width: 640px;
  min-height: 480px;
 }

 input[type="text"] {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.2rem;
  margin: 1rem auto;
  border: 1px solid cornflowerblue;
  border-radius: $border-radius-md;
}

input[type="password"] {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.2rem;
  margin: 1rem auto;
  border: 1px solid cornflowerblue;
  border-radius: $border-radius-md;
}

button {
  width: 100%;
  font-size: 1.4rem;
  padding: 1.2rem;
  margin: 1rem auto;
  border: 1px solid cornflowerblue;
  border-radius: $border-radius-md;
}